* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: HelveticaNeue;
}

html,
body,
#root {
  height: 100%;
  overflow: overlay;
}

.carousel .slider-wrapper.axis-horizontal .slider {
  margin: 0px auto !important;
  width: 322px !important;
}

.carousel .slider-wrapper {
  width: 600px !important;
}
